---
import { defaultLanguage, type LanguageCode } from '@/i18n/ui';
import { getRelativeLocaleUrl } from 'astro:i18n';
const currentLocale =
  (Astro.currentLocale as LanguageCode | undefined) ?? defaultLanguage;
---

<a href={getRelativeLocaleUrl(currentLocale)}>
  <span class="text-2xl text-primary" style="font-family: 'Great Vibes', cursive; font-weight: 400;">Cheryl</span>
</a>
